*{
    font-family:cursive;
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
        
}
body{
    color: white;
    background-color: black;
    
    
}
h1{
    text-align: center;
    background-color: turquoise;
    padding: 15px;
}

ul li{
    display:inline;
    padding: 5px;
    font-size: 20px;
    
    color: white;
}

.navbar{
    background-color: black;
    padding:25px;
    text-align: right;
    
}
ul li a{
    text-decoration: none;
    color: white;
    padding:10px;
}
ul li  :hover{
    color: white;
    background-color: orangered;

}
#menu, #x{
    display: none;
    color: white;
    padding: 10px;
}

@media screen and (max-width:900px){
    #hoo{
        display:none;
    }
    #menu, #x{
        display:inline;
    }
    nav ul li{
        display: block;
    }
}
#intro{
    padding:20px;
    
    text-align: center;
}
#button{
    padding:10px;
    color:white;
    background-color: turquoise;
    margin-top: 20px;
}

#trip, #village{
    text-align:center;
    margin:10px;
}
#v1,#v2,#v3{
    width:33%;
}
#i1,#i3,#i5{
    float:left;
    width:49%;
    padding:5px;
}
#i2,#i4,#i6{
    float:right;
    width:49%;
    padding: 5px;
}
#p{
    color: black;
}
#colleges{
    padding: 10px;
}
.container h2{
    color: black;
}
.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: white;
    width:400px;
    
    margin: 10px;
}
.card p{
    padding: 10px;
}
.card button{
    background-color: black;
    color: white;
    padding:15px 20px;
    display:block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.card:hover{
    background-color: gray;
    color:blue;
    cursor:pointer;
    transform: scale(1.03);
    transition: all 1s ease;

}
.card-image{
    background-color: cyan;
    height:300px;
    margin-bottom:15px ;
}
.car-1{
    background-image: url(jayaoo/jposter.jpeg);
    background-size: 100% 100%;
}
.car-2{
    background-image: url(jayaoo/jposter2.jpeg);
    background-size: 100% 100%;
}
.car-3{
    background-image: url(jayaoo/jposter3.jpeg);
    background-size: 100% 100%;
}
.car-4{
    background-image: url(jayaoo/jposter4.jpeg);
    background-size: 100% 100%;
}
.car-5{
    background-image: url(jayaoo/jposter5.jpeg);
    background-size: 100% 100%;
}

.bar-1{
    background-image: url(jayaoo/jnitrr.jpeg);
    background-size: 100% 100%;
}
.bar-2{
    background-image: url(jayaoo/jcanteen.jpeg);
    background-size: 100% 100%;
}
.bar-3{
    background-image: url(jayaoo/jhostel.jpeg);
    background-size: 100% 100%;
}
.bar-4{
    background-image: url(jayaoo/jhostel2.jpeg);
    background-size: 100% 100%;
}
.bar-5{
    background-image: url(jayaoo/jhostel3.jpeg);
    background-size: 100% 100%;
}
.bar-6{
    background-image: url(jayaoo/jhostel4.jpeg);
    background-size: 100% 100%;
}
.bar-7{
    background-image: url(jayaoo/jfood.jpeg);
    background-size: 100% 100%;
}
.bar-8{
    background-image: url(jayaoo/jfood2.jpeg);
    background-size: 100% 100%;
}

#works, #villages, #colleges{
    
    padding: 30px;
    text-align: center;
    text-decoration: underline;
    
    margin: 20px;
    margin-top: 50px;
}
footer{
    padding: 20px;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    background-color: black;
    animation-name: example;
    animation-duration: 4s;

}
@keyframes example{
    from {background-color: black;}
    to { background-color: chartreuse;}
    
}

